@charset "UTF-8";
.myHotProduct{
	margin-top: 15px;
}
#hotProduct .title{
	color: #ff0000;
	font-family: 微软雅黑;
	font-size: 30px;
	background: url("../img/title.jpg") no-repeat 150px ;
}
#hotProduct .products .product{
	text-align:center;
	margin-bottom:10px; 
}
#hotProduct .product .name{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	cursor: pointer;
	text-align: center;
	margin-top:5px;
	padding: 5px 10px;
	border-bottom: 1px dotted;
	font-size: 16px;
}
#hotProduct .product .price{
	color: #f00;
	font-size: 18px;
}
#hotProduct .product .discounPrice{
	text-decoration: line-through;
	color: #666;
}